@tailwind base;
@tailwind components;
@tailwind utilities;

/* #homepageID{
    background: url('../../public/crowd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    /* background-attachment: fixed; */


/* #homepageID::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../public/crowd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px); /* Adjust the blur amount as needed */
    /* z-index: -1;  */

    
#homepageImage{
    background: url('../../public/people.png');
    background-repeat: repeat-x;
    filter: blur(2px);
    /* background-size: cover; */
}
 
#loginImage{
    background: url('../../public/people.png');
    background-repeat: repeat-x;
    filter: blur(2px);
    /* background-size: cover; */
}

#createShortfolioImage{
    background: url('../../public/people.png');
    background-repeat: repeat-x;
    filter: blur(2px);
    /* background-size: cover; */
}

#bodyDiv{
    /* background: linear-gradient(#1A1B1F,#2D2E32, #4D4B50); */
    /* background: linear-gradient( to right,#8e9eab,#e9e4f0); */
    /* background-color: #e8d8d0; */
    /* background: linear-gradient(to right,#7c86a4, #D7DDE8); */
    /* background: linear-gradient(to right , #DDEFBB, #FFEEEE); */
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

/* #profilePhotoDiv{
    box-shadow: 0 0 0 5px #c1c390;
} */

#fullName{
    letter-spacing: -1.2px;
}

#mainDiv{
    background-color: #FFF6F2;
}

#twitterDiv{
    background: linear-gradient( to bottom, #000000, #434343, #000000);
}

#githubDiv{
    background: linear-gradient(to right, #02001A, #081043);
}

#linkedinDiv{
    background: linear-gradient( to bottom ,#198acb, #294b65 );
}

#behanceDiv{
    background: linear-gradient(to bottom, #4278f4, #2c67f2, #173e98);
}

#instagramDiv{
    background: linear-gradient( to top left, #EC4364, #F1625B );
}

#editBoxDiv{
    /* background: linear-gradient(to bottom, #4d8f77, #373B44); */
    background: linear-gradient(to top,#6f7997, #adb6c6);
}

#textAreaDiv{
    background: linear-gradient(to top ,#0F2027, #203A43, #2C5364);
}