@tailwind base;
@tailwind components;
@tailwind utilities;

/* #homepageID{
    background: url('../../public/crowd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    /* background-attachment: fixed; */


/* #homepageID::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../public/crowd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px); /* Adjust the blur amount as needed */
    /* z-index: -1;  */

    
#homepageImage{
    background: url('../../public/people.png');
    background-repeat: repeat-x;
    filter: blur(2px);
    /* background-size: cover; */
}
 
#loginImage{
    background: url('../../public/people.png');
    background-repeat: repeat-x;
    filter: blur(2px);
    /* background-size: cover; */
}

#createShortfolioImage{
    background: url('../../public/people.png');
    background-repeat: repeat-x;
    filter: blur(2px);
    /* background-size: cover; */
}

#bodyDiv{
    /* background: linear-gradient(#1A1B1F,#2D2E32, #4D4B50); */
    /* background: linear-gradient( to right,#8e9eab,#e9e4f0); */
    background-color: #e8d8d0;
}
/* #leftDiv{ */
    /* background: linear-gradient( #dddddd, #858C8D); */
    /* background: linear-gradient(#EDF1F4,#C3CBDC);
    border: 1px solid white;
    border-left: none; */
    /* background-color: #858C8D; */
/* } */

/* #rightDiv{ */
    /* background: linear-gradient(#EDF1F4,#C3CBDC);
    border: 1px solid white;
    border-right: none; */
    /* background-color: transparent; */
/* } */

#fullName{
    letter-spacing: -1.2px;
}

#mainDiv{
    background-color: #FFF6F2;
}

#twitterDiv{
    background: linear-gradient( to bottom, #000000, #434343, #000000);
}

#githubDiv{
    background: linear-gradient(to right, #02001A, #081043);
}

#linkedinDiv{
    background: linear-gradient( to bottom right ,#20A4F3, #182B3A );
}

#behanceDiv{
    background: linear-gradient(to bottom, #2c67f2, #2c67f2, #3da4c7);
}

#instagramDiv{
    background: linear-gradient( to top left, #EC4364, #F1625B );
}