@tailwind base;
@tailwind components;
@tailwind utilities;

/* #homepageID{
    background: url('../../public/crowd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    /* background-attachment: fixed; */


/* #homepageID::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../public/crowd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px); /* Adjust the blur amount as needed */
    /* z-index: -1;  */

    
#homepageImage{
    background: url('../../public/people.png');
    background-repeat: repeat-x;
    filter: blur(2px);
    /* background-size: cover; */
}
 
#loginImage{
    background: url('../../public/people.png');
    background-repeat: repeat-x;
    filter: blur(2px);
    /* background-size: cover; */
}